<% @user = locals[:type_of_user] %>
<div class="row">
	<div class="col-md-6 col-md-offset-3" style="margin-left: 0; width: 100%;">
		<div class="panel-login popup">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
						<a href="#" class="active" id="login-form-link-<%= @user %>" >Login</a>
					</div>
					<div class="col-xs-6">
						<a href="#" id="register-form-link-<%= @user %>" >Register</a>
					</div>
				</div>
				<hr>
			</div>

			<!--  social buttons -->
			<% if @user == "client" %>
				<%= render 'social_icons' %>
			<% end %>
			<!--  social buttons -->
			
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<%= form_for(resource, as: resource_name, url: user_session_path, :html => { id: "login-form-#{@user}" } ) do |f| %>
							<div class="form-group">
								<%= f.email_field :email, autofocus: true, tabindex: "1", class: "form-control", placeholder: "Email", required: true %>
							</div>
							<div class="form-group">
								<%= f.password_field :password, autocomplete: "off", tabindex: "2", class: "form-control", placeholder: "Password", required: true %>
							</div>
							<% if devise_mapping.rememberable? -%>
								<div class="form-group text-center">
									<%= f.check_box :remember_me, tabindex: "3" %>
									<%= f.label :remember_me %>
								</div>
							<% end -%>
							
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-lg-12">
										<div class="text-center">
											<a href="#" tabindex="5" class="forgot-password" onclick="forgotPassword()">Forgot Password?</a>
										</div>
										<div id="forgot-pwd-div" style="display: none;">
											<div class="form-group">
												<input type="email" name="email" id="email" class="form-control" placeholder="Enter your email"/>
											</div>
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="frgt-pwd-submit" id="frgt-pwd-submit" tabindex="4" class="form-control btn btn-login" value="Forgot Password" onclick="submitPwd('<%= @user %>')">
											</div>
											<div id="show_msg" style="color: green;"></div>
										</div>
										
									</div>
									<script type="text/javascript">
										function forgotPassword() {
											if (document.getElementById('forgot-pwd-div').style.display == "none") {
												document.getElementById('forgot-pwd-div').style.display = "block";
											}
											else {
												document.getElementById('forgot-pwd-div').style.display = "none";
											}
											document.getElementById('show_msg').innerHTML = "";
										}
										function submitPwd(type_of_user) {
											var form = document.getElementById('login-form-' + type_of_user);
											var email_field = form.email.value;
											$.ajax({
												type : 'get',
												url : '/forgot_password',
												dataType : "json",
												data : {
													email : email_field
												},
												success : function(data, textStatus, xhr) {
													document.getElementById('show_msg').innerHTML = data.message;
												}
											});
										}
									</script>
								</div>
							</div>
						<% end %>
						<%= render 'register', :locals => { :type_of_user => @user } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>